<html>

<head>
  <title>Oops!</title>
  <link rel="stylesheet" href="/theme.css">
  <link rel="stylesheet" href="/error.css">
</head>

<body>
  <div class="error-container">
    <h1>Oops!</h1>

    <p class="error-message"><%= status || status %> - <%= message %></p>

    <a href="/" class="btn">Back to Board</a>
  </div>
</body>

</html>